<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>
    <h1>ANIMALS</h1>
    <p>Welcome user: {{ username }}</p>

    {% for animal in animal %}
        <div>
            <p>Favorite Animal: {{ animal[0] }}</p>
            <img src="{{ url_for('static', filename='image/' + animal[1]) }}" alt="{{ animal[0] }}">
        </div>
    {% endfor %}
</body>
</html>


